version: "3.9"

services:
  logprep:
    image: busybox
    command: ["/bin/sh","-c","mkdir -p /logs/app /logs/nginx"]
    volumes:
      - logs:/logs
    restart: "no"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: sunairio:prod
    depends_on:
      logprep:
        condition: service_completed_successfully
    environment:
      SERVICE_NAME: "sunairio"
      LOG_LEVEL: "INFO"
      DEBUG: "false"
      PORT: "8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8000/healthz >/dev/null || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3
    expose:
      - "8000"   # expose to Nginx
    restart: unless-stopped
    volumes:
      - logs:/logs 

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    image: sunairio-nginx:prod
    volumes:
      - logs:/logs
    depends_on:
      web:
        condition: service_healthy
    ports:
      - "8080:80"   # host:container
    restart: unless-stopped

volumes:
  logs: {}  
