name: Simple Pipeline

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:  

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Run unit tests
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest==8.4.2 requests==2.32.5

      - name: Run pytest (use your tests folder)
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: |
          echo $PYTHONPATH
          pytest -q tests/unit

      # Prepare docker
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Show Docker versions
        run: |
          docker --version
          docker compose version

      - name: Build images
        run: docker compose build

      - name: Bring up stack
        run: docker compose up -d

      - name: Run integration tests
        env:
          BASE_URL: http://localhost:8080
        run: pytest -q tests/integration

      # Just showing logs in the pipeline
      - name: Show application logs
        if: always()
        run: |
          echo "----- WEB container stdout/stderr -----"
          docker compose logs --no-color web || true

          echo "----- WEB /logs volume (app) -----"
          docker compose exec -T web sh -lc '
            echo "Listing /logs/app:" &&
            ls -lah /logs/app || true &&
            echo "---- tail app.log ----" &&
            tail -n 200 /logs/app/app.log || true &&
            echo "---- tail gunicorn.error.log ----" &&
            tail -n 200 /logs/app/gunicorn.error.log || true &&
            echo "---- tail gunicorn.access.log ----" &&
            tail -n 200 /logs/app/gunicorn.access.log || true
          '

          echo "----- NGINX /logs volume -----"
          docker compose exec -T nginx sh -lc '
            echo "Listing /logs/nginx:" &&
            ls -lah /logs/nginx || true &&
            echo "---- tail access.log ----" &&
            tail -n 200 /logs/nginx/access.log || true &&
            echo "---- tail error.log ----" &&
            tail -n 200 /logs/nginx/error.log || true
          '

      - name: Bring down stack
        if: always()
        run: docker compose down -v
